<?xml version="1.0"?>

<config>
    <modules>
        <Mage_Remita>
            <version>1.0.0</version>
        </Mage_Remita>
    </modules>
    <global>
        <models>
            <remita>
                <class>Mage_Remita_Model</class>
                <resourceModel>remita_mysql4</resourceModel>
            </remita>
            <remita_mysql4>
                <class>Mage_Remita_Model_Mysql4</class>
                <entities>
                    <api_debug><table>remita_api_debug</table></api_debug>
                </entities>
            </remita_mysql4>
        </models>
		<helpers>
            <remita>
                <class>Mage_Remita_Helper</class>
            </remita>
        </helpers>
        <resources>
            <remita_setup>
                <setup>
                    <module>Mage_Remita</module>
					<class>Mage_Remita_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </remita_setup>
            <remita_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </remita_write>
            <remita_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </remita_read>
        </resources>
        <blocks>
            <remita><class>Mage_Remita_Block</class></remita>
            <payment>
                <class>Mage_Payment_Block</class>
            </payment>			
        </blocks>
    </global>
    <frontend>
        <secure_url>
            <remita_standard>/remita/standard</remita_standard>
        </secure_url>
        <routers>
            <remita>
                <use>standard</use>
                <args>
                    <module>Mage_Remita</module>
                    <frontName>remita</frontName>
                </args>
            </remita>
        </routers>
        <translate>
            <modules>
                <Mage_RemitaForm>
                    <files>
                        <default>Mage_Remita.csv</default>
                    </files>
                </Mage_RemitaForm>
            </modules>
        </translate>
        <layout>
            <updates>
                <remita>
                    <file>remita.xml</file>
                </remita>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <remita>
                    <file>remita.xml</file>
                </remita>
            </updates>
        </layout>	
        <translate>
            <modules>
                <Mage_Remita>
                    <files>
                        <default>Mage_Remita.csv</default>
                    </files>
                </Mage_Remita>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <remita_standard>
				<order_status>pending</order_status>
				<active>1</active>
                <payment_action>Payment</payment_action>
                <model>remita/standard</model>
                <title>Remita</title>
			   <allowspecific>0</allowspecific>
            </remita_standard>
        </payment>
    </default>
</config>